# APP config
ENV="development"
APP_NAME="fastapi-tortoise-api-base"
LOG_FORMAT="%(levelprefix)s %(asctime)s | %(message)s"
APP_TODO_DEFAULT_STATUS="not-started"

# Database
DATABASE_TYPE=""
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_HOST=""
DATABASE_NAME=""
DATABASE_PORT=""

# JWT
ACCESS_TOKEN_SECRET_KEY=""
ACCESS_TOKEN_ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Sendgrid Email
SENDGRID_API_URL=""
SENDGRID_API_KEY=""
SENDGRID_SENDER=""
SENDGRID_NEW_USER_TEMPLATE_ID=""

# TWILIO for SMS
TWILIO_FROM_NUMBER=""
TWILIO_API_URL=""
TWILIO_API_KEY=""